mixin article()
	+namespace("article")
		+title("Производство")
		+el()
			+el("wrapper").container
				+el("content")
					+el("image")
						img(src="#{images('example/article-big-image.jpg')}", alt="article-big-image")
					+el("title", "h2") Название статьи
					+el("text")
						p Стоит весьма близко к родственному кожевенному производству (см.). Выделка и обработка шкур пушных зверей бывает различная, смотря по толщине звериной шкурки. Тонкие шкурки, как то: белого кролика, молодой куницы, белки и т. п., а также хвосты куньи, каменной куницы и собольи лапки — выделываются следующим простым образом: мясная сторона шкурки намазывается овсяной или ржаной гущей, и в этом виде оставляют их около суток; находящиеся в гуще кислоты размачивают шкурку так, что она становится упругой и гибкой; после этого шкурки очищаются от приставшей гущи и вместе с тем сбивают с них мяздру с помощью небольшого ножа.
						img(src="#{images('example/main-features-item-0.jpg')}")
						p Стоит весьма близко к родственному кожевенному производству (см.). Выделка и обработка шкур пушных зверей бывает различная, смотря по толщине звериной шкурки. Тонкие шкурки, как то: белого кролика, молодой куницы, белки и т. п., а также хвосты куньи, каменной куницы и собольи лапки — выделываются следующим простым образом: мясная сторона шкурки намазывается овсяной или ржаной гущей,
						img(src="#{images('example/development/development-gallery-img-2.jpg')}")
						p и в этом виде оставляют их около суток; находящиеся в гуще кислоты размачивают шкурку так, что она становится упругой и гибкой; после этого шкурки очищаются от приставшей гущи и вместе с тем сбивают с них мяздру с помощью небольшого ножа.

				+el("aside")
					+el("aside-title", "h3") Другие статьи
					+el("aside-list", "ul")
						each val in ["Скорняжное дело и его секреты", "Еще что-то интересное", "Третья новость"]
							+el("aside-item", "li")
								+el("aside-link", "a")(href="#")!= val