main
	.btn-more
		display block
		max-width 1180px
		margin 0 auto
		border 1px solid #e0e1e6
		font-size 18px
		line-height 42px
		color #7c8189
		text-decoration none
		text-align center
		&:hover
			text-decoration underline
			border-bottom 1px solid #e0e1e6
		@media only screen and (max-width 1200px)
			margin 0 10px