.catalog-product
	font-size 0
	margin-bottom 75px
	&-image
		display table-cell
		vertical-align top
		width 510px
		line-height 0
		cursor pointer
		&-wrapper
			position relative
			//margin 0 auto
			//width 510px
			//height 640px
			border 1px solid #e0e1e6
			box-sizing border-box
		img
			//position absolute
			//top 0
			//bottom 0
			//border 1px solid #e0e1e6
			//max-width 100%
			width 100%
			//max-height 100%
	&-gallery
		display table-cell
		vertical-align top
		width 195px
		padding 0 59px 0 30px
		&-list
			padding 55px 0
	&-thumbnail
		line-height 0
		padding 10px 0
		img
			width 100%
			line-height 0
			border 1px solid #e0e1e6
			cursor pointer
			&:hover,
			&.__active
				border 1px solid #b7bac8
				outline 1px solid #b7bac8
	&-info
		display table-cell
		vertical-align top
		width 475px
	&-title
		margin-bottom 15px
		font-ptserif-bold()
		font-size 24px
		color #434a54
		text-transform uppercase
	&-tabs
		margin-bottom 55px
	&-parameters
		padding-bottom 5px
		border-bottom 1px solid #dedede
		margin-bottom 15px
	&-option
		display inline-block
		vertical-align top
		margin-right 30px
		font-size 18px
		color #89909b
		text-decoration none
		cursor pointer
		&:hover,
		&.__current
			color #000
		&:last-child
			margin-right 0
	&-paragraph
		font-size 16px
		line-height 26px
		color #434a54
		&.__visible
			display block
		&.__hidden
			display none
	&-form
		margin-bottom 20px
	&-select
		&.form-select
			.ui-widget
				min-width 150px
	&-sizes
		display block
		float left
		clear both
		margin-bottom 35px
		font-size 16px
		color #434a54
		text-decoration none
		&:hover
			text-decoration underline
	&-basket
		display block
		float left
		clear both
		font-ptserif-bold()
		font-size 18px
		line-height 21px
		color #000
		text-transform uppercase
		text-decoration none
		text-align center
		border 1px solid #e0e1e6
		padding 20px 40px
		min-width 320px
		position relative
		&:hover
			text-decoration underline
		&:before
			content ''
			display inline-block
			vertical-align top
			margin-right 10px
			sprite(basket-black)
	.slick-prev,
	.slick-next
		position absolute
		left 50%
		margin-left -20px
		background none
		border none
		outline none
	.slick-prev
		top 0
		sprite(arrow-top)
	.slick-next
		bottom 0
		sprite(arrow-bottom)
	@media only screen and (max-width 1024px)
		&-info
			min-width 260px
			width auto
		&-basket
			padding-left 10px
			padding-right 10px
			min-width 0
			max-width 100%
	@media only screen and (max-width 768px)
		&-gallery
			width 258px
			padding 0 59px 0 79px
			&-list
				margin 0 auto
		&-info
			margin-top 20px
			display block
		&-basket
			float none
			width auto
			min-width 0
			margin 0 auto
		&-select
			&.form-select
				.ui-widget
					min-width 130px
		&-form
			.form-item
				margin-right 10px
	@media only screen and (max-width 600px)
		&-image
			display block
			width 100%
			max-width 300px
			margin 0 auto
		&-gallery
			display block
			width 100%
			padding 0 30px
			&-list
				padding 10px 0
		&-thumbnail
			text-align center
			img
				display inline-block
				vertical-align top
				max-width 60px
		.slick-prev,
		.slick-next
			top 50%
			margin-top -20px
			margin-left 0
			transform rotate(-90deg)
			padding 0
		.slick-prev
			left -35px
		.slick-next
			left auto
			right -35px