.development
	&-gallery
		font-size 0
		text-align justify
		text-justify distribute
		&:after
			content ''
			display inline-block
			width 100%
		&-item
			display inline-block
			vertical-align top
			max-height 304px
			max-width 49.15254%
			margin-bottom 20px
			line-height 0
			overflow hidden
			position relative
			&:hover
				img,
				iframe
					transform scale(1.1) rotate(0.02deg)
				span
					opacity 1
			&.__video
				position relative
				&:before
					content ''
					position absolute
					top 0
					left 0
					right 0
					bottom 0
					background rgba(0,0,0,.43)
					z-index 1
				&:after
					content ''
					position absolute
					top 50%
					left 50%
					margin-top -49px
					margin-left -49px
					sprite(play)
					z-index 1
			img
				min-height 100%
				transition transform .5s
			span
				opacity 0
				transition opacity .5s
				position absolute
				top 50%
				left 50%
				margin-top -55px
				margin-left -42%
				padding 44px 10px
				width 84%
				box-sizing border-box
				background rgba(255,255,255,.9)
				font-ptserif-bold()
				font-size 18px
				line-height 1.2em
				color #434a54
				text-transform uppercase
				text-decoration none
				text-align center
				&:before
					content ''
					position absolute
					top 20px
					bottom 20px
					left 20px
					right 20px
					border 1px solid #dededd
	@media only screen and (max-width 768px)
		&-header
			&-link
				width 100%
				margin-right 0
				margin-bottom 20px
		&-gallery
			&-item
				max-height none
				max-width 100%
				height auto
				width auto
				img
					height auto
					max-width 100%
					min-height 0
					max-height 304px
	@media only screen and (max-width 1024px)
		&-gallery
			&-item
				span
					opacity 1