.slick-prev,
.slick-next
	position absolute
	left 50%
	margin-left -20px
	background none
	border none
	outline none
.slick-prev
	top 0
	sprite(arrow-top)
.slick-next
	bottom 0
	sprite(arrow-bottom)
@media only screen and (max-width 1024px)
	.slick-prev,
	.slick-next
		top 50%
		margin-top -20px
		margin-left 0
		transform rotate(-90deg)
	.slick-prev
		left -40px
	.slick-next
		left auto
		right -40px
