@font-face {
	font-family: 'PTSerif';
	src: url('PTSerif-Reg.woff2') format('woff2'),
		 url('PTSerif-Reg.woff') format('woff');
	font-weight: 400;
}

@font-face {
	font-family: 'PTSerif-Bold';
	src: url('PTSerif-Bold.woff2') format('woff2'),
	url('PTSerif-Bold.woff') format('woff');
	font-weight: 700;
}