$spritesCount = 10
$$sprite = {
	's-arrow-bottom': 0px 48px 0px -48px 39px 14px 179px 112px 'images/sprites/__sprite.png'
	's-arrow-top': 100px 0px -100px 0px 39px 14px 179px 112px 'images/sprites/__sprite.png'
	's-basket-black': 111px 82px -111px -82px 17px 21px 179px 112px 'images/sprites/__sprite.png'
	's-basket': 73px 82px -73px -82px 18px 22px 179px 112px 'images/sprites/__sprite.png'
	's-fb': 39px 82px -39px -82px 14px 27px 179px 112px 'images/sprites/__sprite.png'
	's-google': 0px 0px 0px 0px 33px 28px 179px 112px 'images/sprites/__sprite.png'
	's-mail': 159px 0px -159px 0px 20px 15px 179px 112px 'images/sprites/__sprite.png'
	's-ok': 0px 82px 0px -82px 19px 30px 179px 112px 'images/sprites/__sprite.png'
	's-twitter': 53px 0px -53px 0px 27px 23px 179px 112px 'images/sprites/__sprite.png'
	's-vk': 100px 34px -100px -34px 18px 23px 179px 112px 'images/sprites/__sprite.png'
}