$spritesCount = 7
$$sprite = {
	's-basket': 134px 0px -134px 0px 18px 22px 152px 113px 'images/sprites/__sprite.png'
	's-fb': 100px 0px -100px 0px 14px 27px 152px 113px 'images/sprites/__sprite.png'
	's-google': 0px 0px 0px 0px 33px 28px 152px 113px 'images/sprites/__sprite.png'
	's-mail': 0px 98px 0px -98px 20px 15px 152px 113px 'images/sprites/__sprite.png'
	's-ok': 0px 48px 0px -48px 19px 30px 152px 113px 'images/sprites/__sprite.png'
	's-twitter': 53px 0px -53px 0px 27px 23px 152px 113px 'images/sprites/__sprite.png'
	's-vk': 39px 48px -39px -48px 18px 23px 152px 113px 'images/sprites/__sprite.png'
}