$spritesCount = 11
$$sprite = {
	's-arrow-bottom': 0px 118px 0px -118px 39px 14px 190px 174px 'images/sprites/__sprite.png'
	's-arrow-top': 59px 118px -59px -118px 39px 14px 190px 174px 'images/sprites/__sprite.png'
	's-basket-black': 38px 152px -38px -152px 17px 21px 190px 174px 'images/sprites/__sprite.png'
	's-basket': 0px 152px 0px -152px 18px 22px 190px 174px 'images/sprites/__sprite.png'
	's-fb': 171px 93px -171px -93px 14px 27px 190px 174px 'images/sprites/__sprite.png'
	's-google': 118px 0px -118px 0px 33px 28px 190px 174px 'images/sprites/__sprite.png'
	's-mail': 75px 152px -75px -152px 20px 15px 190px 174px 'images/sprites/__sprite.png'
	's-ok': 171px 0px -171px 0px 19px 30px 190px 174px 'images/sprites/__sprite.png'
	's-play': 0px 0px 0px 0px 98px 98px 190px 174px 'images/sprites/__sprite.png'
	's-twitter': 118px 48px -118px -48px 27px 23px 190px 174px 'images/sprites/__sprite.png'
	's-vk': 171px 50px -171px -50px 18px 23px 190px 174px 'images/sprites/__sprite.png'
}