font-ptserif-reg()
	font-family PTSerif, sans-serif
	line-height 1.2em
	font-weight 400
font-ptserif-bold()
	font-family PTSerif, sans-serif
	font-weight 700
font-myriad-pro()
	font-family MyriadPro, sans-serif
	font-weight 400
font-rouble()
	font-family rouble, sans-serif
	font-weight 400
font-ptsans-reg()
	font-family PTSans-Reg, sans-serif
	font-weight 400
font-tnr()
	font-family "Times New Roman", sans-serif
	font-weight 400
html
	font-ptserif-reg()